.container{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left:50px;
    padding-right: 50px;
}
.icon{
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.social a{
    margin: 20px;
}
