.fixed-bg {
    background-image: url('../Home/bgg.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headings{
      font-size: 80px;
      text-align: center;
  }
  .subheading {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }
  
  section.resume-section .resume-section-content {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
  }
  .area{
      max-height: 400px;
  }
  @media (min-width: 992px) {
    section.resume-section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 50px;
    }
  }
  .dev-icons {
    font-size: 5rem;
    text-align: center;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  
  .list-inline-item {
    display: inline-block;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }